* {
    box-sizing: border-box;
  }
body{
    
    border-left: solid;
    border-right: solid;
    border-width: 80px;
    border-color: white;
    min-height: 100vh;
    background-color: darkgray;
    

}
.header{
    text-align: right;
    color: #2d3c49;
    margin-right: 3em;
    margin-top: 3em;
    font-size: xx-large;
    font-weight: lighter;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.header:after {
    text-align: right;
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    margin-left: 7em; /* This will center the border. */
    width: 80%; /* Change this to whatever width you want. */
    padding-top: 20px; /* This creates some space between the element and the border. */
    border-bottom: 0.1em solid#7d97ad;
    border-radius: 0.2em; /* This creates the border. Replace black with whatever color you want. */
}
.cover{
    text-align: right;
    margin-right: 5em;
    margin-top: 3em;
    
}
.work{
    text-align: left;
    color: #2d3c49;
    margin-left: 10em;
    font-size: x-large;
}

.column{
    float: left;
    width:66.66%;
    padding: 15px;
}
.logo{
    width:30%;
}

.row::after{
    content:'';
    clear: both;
    display: table;
}
a {
    display: block;
    color:  #2d3c49;
}

footer{
    text-align: left;
    color: #2d3c49;
    margin-left: 15em;
    margin-top: 10em;
}
